.blog-details-container {
    display: block;
    width: 65%;
    padding: 40px;
    margin: auto; /* Center the container */
    align-items: center;
}

.blog-details-container h1 {
    margin-bottom: 10px;
}

.blog-details-container p {
    margin-bottom: 20px;
    color: #555;
}

.blog-content {
    font-size: 1.1em;
    line-height: 1.6;
}
.blog-db{
    margin: auto;
    padding-top: 10px;
}
.blog-db button{
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: black;
    transition: color 0.3s ease;
    display: inline-block;
    color: white;
    font-size: 1em;
    margin-left: 10px;
}

.blog-db button:hover{
    background-color: #555;
}

.blog-details-container img {
    object-fit: cover;
    height: auto; /* Make height auto for responsiveness */
    width: 100%; /* Make width 100% to fit container */
    max-height: 500px; /* Set max height to avoid excessively large images */
    object-position: center;
}

/*Comment styling*/
.comments-section {
    margin-top: 20px;
}

.comment {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.comment-form textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    height: 100px;
    resize: none; 
}

.comment-form button {
    padding: 10px;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-form button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .blog-details-container {
        width: 90%;
        padding: 20px;
    }

    .blog-content {
        font-size: 1em;
    }

    .comment-form textarea {
        font-size: 0.9em;
    }

    .comment-form button {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .blog-details-container {
        width: 100%;
        padding: 10px;
    }

    .blog-content {
        font-size: 0.9em;
    }

    .comment-form textarea {
        font-size: 0.8em;
    }

    .comment-form button {
        font-size: 0.8em;
    }
}
