.blog {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    gap: 20px; /* Add space between left and right parts */
}

.blog-left {
    flex: 0 0 150px; /* Fix the width of the image container */
}

.blog-right {
    flex: 1; /* Allow the right part to take the remaining space */
}

.blog-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.blog-right h3 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    font-weight: bold;
}

.blog-meta {
    margin: 0 0 10px 0;
    font-size: 0.9em;
    color: #666;
}

.blog-description {
    margin: 0 0 10px 0;
    font-size: 1em;
    color: #333;
    overflow: hidden;
}

.blog-actions {
    display: flex;
    justify-content: flex-start;
    gap: 20px; /* Increased space between action buttons */
    margin-top: 10px;
}

.action-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    color: #333;
    font-size: 1em;
}

.action-button:hover, .action-button i:hover {
    color: orange;
}

.action-button i {
    margin-right: 5px;
}
