.blog {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc; /* Keeps a separator between posts */
}

.blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.blog-header h3 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    font-weight: bold;
}

.blog-header p {
    margin: 0;
    font-size: 0.9em;
    color: #666;
}

.blog h2 {
    margin: 10px 0;
    font-size: 1.5em;
    font-weight: bold;
}

.blog p {
    margin: 10px 0;
    font-size: 1em;
    color: #333;
    min-height: 30%;
    overflow: hidden;
}

.blog-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px; /* Add margin top for spacing */
}

.action-button {
    padding: 5px 10px;
    border: none;/* Adds a subtle border to buttons */
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
    display: flex; /* Ensure the icon and text are aligned */
    align-items: center; /* Center the icon and text vertically */
    color: #333; /* Change text color to white */
}

.action-button:hover, .action-button i:hover {
   color: orange; /* Darker shade of black on hover */
}

.action-button i {
    margin-right: 5px; /* Add space between icon and text */
}
