header {
  background: #282c34;
  padding: 20px;
  color: white;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

footer {
  background: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.popular-blogs div {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
}

/* src/App.css */
button.get-started {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button.get-started:hover {
  background-color: #333;
}
